.filtro-pacientes {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease-in-out;
}

.filtro-pacientes:focus {
  border-color: #9f0000;
  box-shadow: 0 0 5px rgba(159, 0, 0, 0.5);
}

table {
  font-size: 0.95rem;
  border-radius: 12px;
  overflow: hidden;
}

thead {
  background: linear-gradient(90deg, #9f0000, #ddff00);
  color: #212327;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.text-muted {
  font-style: italic;
}
